<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="/css/stylelogin.css">




<table id="patients-in-hospital" class="table table-striped table-bordered" cellspacing="0" width="80%" style="border-width:2px;
border-style:solid;
border-color:black;"></table>
<!-- Table with patients in rooms-->



<!-- <script type="text/javascript" src="/js/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/addpatient.js"></script>
<div style="padding-left:0px;" class="col-lg-6 col-md-6">

</div>
